*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(./image/istockphoto-1356435886-612x612.jpg);
    /* background: linear-gradient(90deg, rgba(255, 0, 249, 1) 0%, rgba(7, 58, 187, 1) 100%); */
    display: grid;
    place-items: center;
}
.game-info{
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    padding: 0.5rem 3rem;
    text-align: center;
    border-radius: 1rem;
}
.tic-tac-toe{
    width: 90%;
    max-width: 20rem;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 1rem;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;


}
.box{
    cursor: pointer;
    width: 100%;
    color: white;
    font-size: 3rem;
    aspect-ratio: 1/1;
    position: relative;
    display: grid;
    place-items: center;
}
.box1, .box2, .box4, .box5{
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}
.box3, .box6{
    border-bottom: 2px solid white;
}
.box7, .box8{
    border-right: 2px solid white;
}


.btn{
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 1rem;
    cursor: pointer;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem 2rem;
    display: none;
}
.btn.active{
    display: flex;
}
.win{
    background-color: rgba(0, 255, 0, 0.3);
}